/* 
#0b421a	(11,66,26)
#fffcfc	(255,252,252)
#eac784	(234,199,132)
#362415	(54,36,21)
#604c4c	(96,76,76)
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0px;
}

footer {
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    padding-right: 20px;
    background-color: #604c4c;
}

header {
    background-color: #0b421a;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

footer .text {
    color: #fffcfc;
    font-size: 15px;
}

h1.title {
    color: #eac784;
    font-style: oblique;
}

header ul.nav {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #eac784;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    flex: auto;
}

h2.title {
    color: #0b421a;
}

div.title-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}

h3.secondary {
    font-style: italic;
    text-decoration: underline;
}

div.grid {
    flex: auto;
    margin: 0px;
    padding: 0px;
}

div.grid-canvas {
    display: flex;
    border: 1px solid #362415;
    border-radius: 3px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

div.grid-container {
    display: flex;
    justify-content: space-between;
}

aside form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    flex: auto;
    width: 100px;
}

input.submit-button,
input.submit-text,
.rainbow-mode {
    border-radius: 5px;
    padding: 5px 0px;
}

input.submit-button,
.rainbow-mode {
    border: 0px;
    background-color: #604c4c;
    color: #fffcfc;
    padding: 10px 0px;
    width: 100px;
}

input.submit-button:hover,
.rainbow-mode:hover {
    background-color: #eac784;
    color: #0b421a;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
}

.current-colour {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.rainbow-image {
    height: 50px;
    aspect-ratio: auto;
}